$activeColor: #27ae60;
$darkenColor: darken($activeColor, 20%);
$background: #3498db;

$color1: rgba(178, 23, 23, 1);
$color2: rgba(3, 63, 99, 1);
$color3: rgba(255, 255, 250, 1);
$color4: rgba(116, 117, 114, 1);
$color5: rgba(100, 182, 172, 1);

.stats-sub-container {
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  overflow-y: scroll;
}
