// @import "compass/css3";

$activeColor: #27ae60;
$darkenColor: darken($activeColor, 20%);
$background: #3498db;

$color1: rgba(178, 23, 23, 1);
$color2: rgba(3, 63, 99, 1);
$color3: rgba(255, 255, 250, 1);
$color4: rgba(116, 117, 114, 1);
$color5: rgba(100, 182, 172, 1);

h3 {
  font-size: 20px;
  grid-column: 1 / span 2;
}

.icon-container {
  background: $color1;
  position: sticky;
  top: 0;
  z-index: 100;
}

.next-race-header {
  display: contents;
}

table {
  height: 40px;
  max-height: 60%;
}

.image-and-subtitle {
  max-height: 100%;
  display: grid;
}

.charts-container {
  display: flex;
}

.card {
  display: inline-flexbox;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 10px;
}

.dropdown-menu {
  max-height: 90vh;
  overflow-y: auto;
}

@media only screen and (min-width: 46.875em) {
  .icon-container {
    display: none;
  }

  .btn {
    cursor: pointer;
  }

  .options-dropdown {
    grid-column: 2 / span 2;
  }
}
